* {
  box-sizing: border-box;
  font-family: "Sansation", sans-serif;
  scrollbar-width: none;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100vw;
  padding: 20px 35px;
  padding-right: 50px;
  position: fixed;
  z-index: 20;
}

.name {
  color: rgb(209, 209, 209);
  font-size: clamp(1.4rem, 2vw, 2.1rem);
}

.menu {
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
}

.hamburger {
  fill: white;
  cursor: pointer;
  transition: 0.2s all;
}

.hamburger:active {
  transform: scale(0.85);
}

.nav {
  color: rgb(209, 209, 209);
  position: absolute;
  top: calc(100% + 12px);
  right: 20px;
  transition: all 0.3s ease-in-out;
  height: fit-content;
  z-index: 10;
}

.nav-toggle {
  transform: translateX(200px);
}

.menu-item {
  display: block;
  color: rgb(209, 209, 209);
  text-decoration: none;
  font-size: clamp(1.1rem, 1.7vw, 1.9rem);
  background: transparent;
  border: none;
  backdrop-filter: blur(6px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 5px 0;
}

#contact-link {
  margin-top: 12px;
}

#home-link {
  margin-bottom: 12px;
}

.contact-active {
  transform: scale(1.1);
}

#projects {
  height: fit-content;
}

.dropdown-option {
  display: block;
  backdrop-filter: blur(6px);
  cursor: pointer;
  color: rgb(209, 209, 209);
  width: 150%;
  left: 50%;
  padding: 0;
  font-size: clamp(0.9rem, 1.3vw, 1.5rem);
  opacity: 0;
  height: 0;
  overflow-y: hidden;
  text-decoration: none;
  transition:
    padding 0.3s,
    opacity 0.3s ease-in-out,
    transform 0.4s ease-in-out,
    height 0.3s ease-in-out;
}

.active-option {
  transform: scale(1.2) translateX(6px);
  text-shadow: 1px 1px 5px 1px;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-image: url(/images/background.jpg);
  background-size: cover;
}

#projects:hover .dropdown-option {
  padding: clamp(18px, 1.4vw, 26px) 0px;
  height: clamp(23px, 1.8vw, 50px);
  opacity: 1;
}

.display-area {
  padding-bottom: 6vh;
  height: fit-content;
  z-index: 5;
  scrollbar-width: none;
}

.spacer {
  height: 80px;
}

.project {
  height: 89vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scrollbar-width: none;
}

.project-name {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: rgb(209, 209, 209);
  font-size: clamp(1rem, 2vw, 2rem);
}

.title {
  margin: 0;
}

.background-img {
  width: 70%;
  max-width: 1300px;
  height: auto;
  margin-left: 10%;
  object-fit: cover;
  box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, 0.585);
  border-radius: 11px;
}

.portrait-img {
  box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, 0.585);
  width: auto;
  height: 60%;
}

.description {
  color: rgb(209, 209, 209);
  font-size: clamp(0.9rem, 1.7vw, 1.7rem);
  text-align: center;
  white-space: wrap;
  z-index: 2000;
  opacity: 1;
  width: 100vw;
}

.public-repos {
  display: flex;
  flex-direction: column;
}

.repo {
  text-decoration: underline;
  color: white;
}

.portrait-description {
  width: 70%;
}

.repo-link {
  color: rgb(209, 209, 209);
}

@media (max-width: 600px) {
  .header {
    padding: 12px 18px;
  }

  .display-area {
    padding-top: 80vh 0px;
  }

  .spacer {
    height: 0vh;
  }

  .menu-item {
    backdrop-filter: blur(100px);
  }

  .background-img {
    width: 95%;
    margin-left: 12%;
  }

  .portrait-img {
    height: 35%;
    width: auto;
  }

  .description {
    width: 80vw;
  }
}
