* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(49deg, rgb(19, 19, 19), rgb(29, 29, 29));
  overflow-x: hidden;
}

.header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
  padding: 20px;
}

.name {
  color: rgb(209, 209, 209);
  font-size: 2rem;
}

.menu{
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
}

.hamburger {
  fill: white;
  cursor: pointer;
  transition: .2s all;
}

.hamburger:active {
  transform: scale(.85);
}

.nav {
  color: rgb(209, 209, 209);
  position: absolute;
  top: calc(100% + 12px);
  right: 0px;
  transition: all .3s ease-in-out;
  height: fit-content;
}

.nav-toggle {
  transform: translateX(200px);
}

.menu-item {
  display: block;
  color: rgb(209, 209, 209);
  text-decoration: none;
  font-size: 1.4rem;
  background: transparent;
  border: none;
  backdrop-filter: blur(3px);
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 5px 0;
}

#projects {
  height: fit-content;
}

.dropdown-option {
  cursor: pointer;
  position: relative;
  left: -30%;
  width: 150%;
  padding: 0;
  font-size: 1.1rem;
  opacity: 0;
  height: 0;
  overflow-y: hidden;
  transform: scale(.6) translateY(-8px);
  transition: 
  padding .3s,
  opacity .3s ease-in-out,
  transform .3s ease-in-out,
  height .3s ease-in-out;
}

.dropdown-option:hover {
  transform: scale(1.1);
}

#projects:hover .dropdown-option{
  padding: 7px 0px;
  height: 28px;
  opacity: 1;
  transform: scale(1) translateY(0);
}

.project {
  height: 200vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 30%;
  object-fit: cover;
}